header {
    background-color: #343A40;
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: .3125em;
    

}
.rightHead {
    margin-right: 2.43em;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1.375em;;
}
.navu:hover{
    border: .187em solid #6C757D;
    border-radius: 2.5em;
    background-color: #6C757D;
    padding-left: .625em;
    padding-right: .625em;
}

#designation {
    opacity: .6;
}
.user > p {
    margin: 0;
}
.middleHead ,.navu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1875em;;
    cursor: pointer;

}

.middleHead{
    padding-left: 2.81em;
}

.midHead{
    display: flex;
    flex-direction: row; 
    gap: 10.625em;
        
}
.leftHead {
    margin-right: auto;
    margin-left: 1.875em;
    display: flex;
    align-items: center;
    gap:.3125em;

}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #F8F9FA;
}
#searchBar{
    display: flex;
    flex-direction: row;
    border-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.searchPay{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#search{
    box-sizing: border-box;
    height: 40px;
    left: 60.76%;
    right: 15.81%;
    top: 120px;
    background: #FFFFFF;
    border: 1px solid #D3D7DC;
    border-radius: 4px;
    margin-top: 50px;
    margin-right: 50px
}
.pay{
    padding: 12px 24px;
    gap: 4px; 
    width: 149px;
    height: 40px;
    right: 43px;
    top: 120px;
    background: #28A745;
    border-radius: 54px;
    border-color: #28A745;
    color: #FFFFFF;
    margin-top: 50px;
    margin-right: 50px;
}

h2{
    margin-left: 30px;
    margin-top: 50px;
    width: 206px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 2em;
    line-height: 40px;
color: #024102;
}


.act{
    background: #20C997;
    color: #FFFFFF;
    border: 5px solid hsl(162, 73%, 46%);
    border-radius: 5px;

}

.act::placeholder { 
    color: white;
    opacity: 1; 
  }

.inact{
    background-color: #6C757D;
    border-radius: 5px;
    color: #FFFFFF;
    border: 5px solid #6C757D;
}

.inact::placeholder { 
    color: white;
    opacity: 1; 
  }


.title{
    display: block;
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 50px 50px 50px;
    font-family: 'Roboto', sans-serif;
    border-top: 50px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }

  tr{
    border: 10px solid white;
    border-radius: 5px;
  }


  footer{
    background-color: #6C757D;
    display: flex;
    color: white;
    align-items: end;
    height: 70px;
    flex-wrap: wrap;
    width: 100%;
}
#copyRight {
    padding-left: 20px;
    height: 59px;

}
#foot {
    height: 60px;
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin-right: 50px;
    align-items: center;

}

@media screen and (max-width:850px) {

    .midHead{
       display: flex;
       flex-direction: row; 
       gap: 80px;
     padding-right: 58px;
    }
}

@media screen and (max-width:477px){
    .text{
        display: none;
    }

    .rightHead {
        margin-right: -11px;
        display: flex;
        margin-left: -17px;
        align-items: center;
        gap: 10px;
    }

    .user{
        display: contents;
        gap: 10px;
    }

    .searchPay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -51px;
    margin-bottom: -50px;
    }

    #searchBar {
    display: flex;
    flex-direction: column;
    border-bottom: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    }   

    table{
    border-collapse: collapse;
    width: 94%;
    margin: 26px 50px 50px 0px;
    font-family: 'Roboto', sans-serif;
    border-top: 50px;
}
    footer{
    background-color: #6C757D;
    display: flex;
    color: white;
    align-items: end;
    height: 70px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

#foot {
    height: 60px;
    display: flex;
    margin-left: auto;
    gap: 0px;
    margin-right: 50px;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 0px;

}
.footP{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.midHead{
    padding-right: 58px;

}
.editIcon {
    display:flex;
    flex-direction: row;
    vertical-align:inherit;
}
}
@media screen and (max-width:772px) and (min-width:478px){
    .midHead{
    gap:2%;
    padding-right: 5px;
    }
}